body{
  padding:0;
  margin:0;
  background-color:black;
}

.header{
  height:140px;
  background-color:rgba(32,32,32,0.8);
  margin:0;
  padding:0;
  color:white;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header-top{
  height:40px;
  border-bottom:1px solid white;
}

.social-icon{
  width:30px;
}

#facebook{
  position:relative;
  left:1000px;
  bottom:10px;
}

#twitter{
  position:relative;
  left:900px;
  bottom:10px;
}

#github{
  position:relative;
  left:900px;
  bottom:10px;
}

#email{
  position:relative;
  bottom:10px;
}

#email a{
  text-decoration:none;
  color:white;
  font-family:"Playfair Display SC";
  font-size:17px;
  position:relative;
  top:2px;
}

#email a:focus,
#email a:hover{
  color:#00A352;
  -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}

#email-icon{
  position:relative;
  bottom:25px;
}

#email-icon:hover{
  color:#00A352;
}

.main-nav{

}

.main-nav ul{
  list-style:none;
}

.main-nav ul li{

}

.main-nav ul li a{
  text-decoration:none;
  float:left;
  display:inline-block;
  padding:25px 60px 40px 60px;
  color:white;
  font-family:"Playfair Display SC";
  font-size:16px;

}

.main-nav ul li a:focus,
.main-nav ul li a:hover{
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,163,82,0.3)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,163,82,0.3)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,163,82,0.3)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(0,0,0,0),rgba(0,163,82,0.3)); /*Standard*/
    color:black;
    -webkit-transition: color 0.5s;
      -moz-transition:    color 0.5s;
      -ms-transition:     color 0.5s;
      -o-transition:      color 0.5s;
      transition:         color 0.5s;
}

.main-navBottom{
  border:2px solid white;
  position:relative;
  top:85px;
}/*I eventually want to change border on hover*/

#first{
  margin-left:150px;
}

.black-container{

}

.black-container a{
  font-family:"Playfair Display SC";
  text-decoration:underline;
  color:white;
  font-size:40px;
}

.studio-title{
  color:#00A352;
  text-decoration:none;
}

.black-container h4{
  font-family:"Playfair Display SC";
}

#break{
  color:#00A352;
  font-weight:700;
}

/*============================================================================*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  margin-top:140px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
